In [19]:
import pandas as pd
import json

url = "https://data-challenge.lighthouselabs.ca/info"
private = []
with open('teams.json', 'r') as f:
    data = json.load(f)
pd.json_normalize(data)
with open('teams.json', 'r') as f:
    data = json.load(f)

In [25]:
with open('teams.json', 'r') as f:
    teams_json = json.load(f)
    
teams_df = pd.json_normalize(teams_json)

teams_df

,name,description,url,private
0,Keep Calm and Code on,The Smart A.S.S team,keep-calm-and-code-on,True
1,Green Onions,Itsaboutdriveitsaboutpowerwestayhungrywedevour,green-onions,True
2,Data Analytical Gurus,For anyone who wants to be a data analytics guru,data-analytical-gurus,False
3,Free Agents,Able to tackle any task,free-agents,True
4,What the CRUD?,Dream team,what-the-crud,True
...,...,...,...,...
562,Snake Fanclub,Everything will surely be alright!,snake-fanclub,True
563,Mutandiro,Best team,mutandiro,True
564,Rapid Cucumber,Team,rapid-cucumber,False
565,Python &amp; SQL team,This team is for data enthusiast,python-sql-team,True
566,Team Kulak,XD,team-kulak,True

In [33]:
with open('points.json', 'r') as f:
    points_json = json.load(f)

points_df = pd.json_normalize(points_json)

points_df['prize_points'] = points_df['prize_points'].transform(int)

In [39]:
teams = teams_df.merge(points_df, on='url')

teams_sorted = teams.sort_values(by = 'prize_points', ascending=False)

teams_sorted.loc[teams_sorted['private'] == False]

,name_x,description,url,private,name_y,prize_points
330,Springfield Isotopes,Go Springfield!,springfield-isotopes,False,Springfield Isotopes,130
55,Analytical Analysts,For curious minds that analyze data enthusiast...,analytical-analysts,False,Analytical Analysts,120
310,Data Delvers,For those on a quest for the Holy Grail of LHL,data-delvers,False,Data Delvers,110
106,Team Alpha,Bunch of people trying to analyse the data,team-alpha,False,Team Alpha,105
260,I have not idea for names,no ideas,i-have-not-idea-for-names,False,I have not idea for names,100
...,...,...,...,...,...,...
389,Rhazelle&#x27;s Team,Let&#x27;s have fun together!,rhazelles-team,False,Rhazelle&#x27;s Team,5
219,We ❤️ Data,Anyone who wants to team up for this challenge,we-data,False,We ❤️ Data,5
370,Paw_Patrol,Paw_Patrol,paw-patrol,False,Paw_Patrol,5
175,"My pet python, Pablo, likes triple chocolate f...",The title explains it.,my-pet-python-pablo-likes-triple-chocolate-fud...,False,"My pet python, Pablo, likes triple chocolate f...",5
101,MS Data Devs,Learn more about data,ms-data-devs,False,MS Data Devs,0